[Unit]
Description=Watch for changes to /etc/sudo-nopasswd and update sudoers NOPASSWD
After=network.target

[Service]
ExecStart=/usr/bin/watch-sudo-nopasswd
Restart=always
User=root
Type=simple

[Install]
WantedBy=multi-user.target